services:
  db:
    security_opt:
      - label:disable
    image: postgres:18.0
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_HOST=${DB_HOST}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres-db:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

  migrator:
    image: gomicro/goose:3.26.0
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      DB_PORT: ${DB_PORT}
      SSL_MODE: ${DB_SSL_MODE}
      GOOSE_DRIVER: postgres
      GOOSE_DIR: /migrations
      GOOSE_DBSTRING: "user=${DB_USER} dbname=${DB_NAME} sslmode=${DB_SSL_MODE} host=db password=${DB_PASSWORD}"
    volumes:
      - ./migrations/postgres/:/migrations/
    entrypoint:  >
      sh -c 'goose up'

  app:
    # for SELinux
    security_opt:
      - label:disable
    build: 
      context: .
      dockerfile: ./docker/Dockerfile
    env_file:
      - .env
    ports:
      - ${PORT}:8080
    depends_on:
      migrator:
        condition: service_completed_successfully 
      db:
        condition: service_healthy

volumes:
  postgres-db: